@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
   box-sizing: border-box;
}
header{
    
    margin: 60px auto 40px;
    align-items: center;
    max-width: 500px;
    font-size: 1.1em;
    line-height: 1.5;
}
h1{
    font-weight: 200;
    letter-spacing: 0.1em;
}
span{
      font-weight: 600;
      word-spacing: 9px;
}
p{
    color: hsl(229, 6%, 66%);
    font-size: 15px;
    word-spacing: 0.2em;
}
.box p{
    font-size: 13px;
}

.container{
    font-family: cursive;
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto 200px;
    justify-content: center;
}
.box{
    background-color: #fff;
    padding: 30px;
    width: 350px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 200, 0.1);
    border-top: 5px solid black;
}
.box h3{
    margin: 0;
}
.box img{
    display: block;
    margin-left: auto;
    padding-top: 20px;
}
.cyan {
    border-top: 5px solid hsl(180, 62%, 55%);
}
.red {
    border-top: 5px solid hsl(0, 78%, 62%);
}

.yellow {
    border-top: 5px solid hsl(34, 97%, 64%);
}

.blue {
    border-top: 5px solid hsl(212, 86%, 64%);
}
.cyan, .blue {
    transform:translateY(50%);
}

